.currency-converter{
    background-color: #c2cde585;
    padding: 10px 40px 10px 40px;
}

select#fromCurrency, select#toCurrency {
   /*width: 100px;*/
    padding: 2px;
    margin: 3px;
}

span.header{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25pt;
    color: #031c5185;
    text-align: center;
}

.form-group .submit-item{
    float: right;
}