.clock{
    text-align: center !important;
    background-color: #4f4f4f50;
    height: 100%;
}
.clock h2{
    float: left;
    /*background-color: #4f4f4f50;*/
    padding: 5px;
    width: max-content;
    margin-left: 40%;
}